<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="icon" type="image/x-icon" href="../static/images/malaria.ico"> -->
  <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/dokumentasi.css">
  <title>Deteksi Penyakit Malaria - Dokumentasi</title>
</head>

<body>

  <header>
    <div id="judul">
      <!-- <img src="../static/images/malaria-icon.png" alt="Malaria Icon" width="50" height="50"> -->
    </div>
    <nav id="navigasi">
      <ul>
        <li><a href="index.html" id="deteksi">Detection</a></li>
        <li><a href="#" id="dokumentasi">About</a></li>
        <li><a href="tentang.html" id="tentang">Profile</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <h1 id="tittlemain">Dokumentasi Deteksi Malaria: Parasit vs Uninfected</h1>
      <p id="submain">Di bawah ini adalah penjelasan mengenai malaria yang disebabkan oleh parasit dan kondisi yang tidak terinfeksi (uninfected):</p>

      <div id="containermain">

        <article class="item">
          <h3>Malaria Plasmodium Falciparum (Parasit)</h3>
          <img src="../static/images/it.png" alt="Plasmodium Falciparum">
          <p>Plasmodium falciparum adalah parasit malaria yang paling mematikan, terutama umum di wilayah Afrika. Parasit ini menginfeksi sel darah merah, menyebabkan gejala seperti demam tinggi, nyeri kepala, dan mual. Infeksi parasit ini bisa berakibat fatal jika tidak segera ditangani.</p>
        </article>

        <article class="item">
          <h3>Uninfected (Tidak Terinfeksi)</h3>
          <img src="../static/images/fgt.png" alt="Uninfected Blood Cells">
          <p>Kondisi tidak terinfeksi (uninfected) menunjukkan sel darah merah yang normal dan sehat tanpa keberadaan parasit malaria. Ini adalah kondisi ideal yang harus dipertahankan melalui tindakan pencegahan, seperti penggunaan kelambu, obat antimalaria, dan vaksinasi.</p>
        </article>

        <article class="item">
          <h3>Perbandingan Parasit dan Uninfected</h3>
          <img src="../static/images/dds.jpg" alt="Parasit vs Uninfected">
          <p>Perbandingan antara sel darah yang terinfeksi oleh parasit malaria dengan sel darah yang tidak terinfeksi menunjukkan perbedaan yang signifikan dalam ukuran dan bentuk sel darah. Pemahaman ini penting untuk deteksi dini dan pengobatan malaria yang efektif.</p>
        </article>

      </div>

      <p id="subcontainer">Malaria adalah penyakit menular yang disebabkan oleh parasit yang ditularkan melalui gigitan nyamuk Anopheles yang terinfeksi. Deteksi dini dan pemahaman tentang perbedaan antara sel darah yang terinfeksi dan tidak terinfeksi sangat penting untuk mengurangi penyebaran penyakit ini.</p>
    </section>
  </main>

  <footer>
    <p>Copyright &copy; 2024. Malaria Detector. Hak Cipta Dilindungi.</p>
    <div>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>
    </div>
  </footer>

</body>

</html>
